spring:
  datasource:
    url: jdbc:postgresql://dpg-d4g7h8k9c44c73d7g6k0-a.oregon-postgres.render.com:5432/warranty_bd?sslmode=require
    username: warranty_user
    password: 6oXC8ogkmfYmBKqGb4dwvAred9Xu3Efn
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080
